#downslide_dockbar a:link {
    color: #ffffff; 
    border-bottom: 0px dashed; 
    text-decoration: none;
  }
  #downslide_dockbar a:visited {
    color: #ffffff;
  }
  #fixbar,#fixblock{
      width:100%;
      bottom:0;
      right:0;
      left:0
  }
  #dockbar_callback,#dockbar_compare,#dockbar_history,#dockbar_login,#dockbar_wishlist{
      background-repeat:no-repeat;
      padding-left:23px!important
  }
  #downslide_dockbar_login #form-login-password label{
      display:block
  }
  #downslide_dockbar_login #form-login-password,#downslide_dockbar_login #form-login-username{
      margin-bottom:10px
  }
  #downslide_dockbar_login .nologin>form>div:nth-child(3){
      font-size:15px;
      margin-bottom:10px
  }
  body{
      padding-bottom:46px
  }
  .clear-nvg{
      clear:both
  }
  .dbtitle{
      font-size:115%
  }
  #dockbar-overlay{
      position:fixed;
      left:0;
      top:0;
      z-index:65533;
      background:url(../images/default/overlay.gif) center center no-repeat #FFF;
      opacity:.5;
      filter:alpha(opacity=50)
  }
  #strach_warper{
      width:100%;
      bottom:0
  }
  #fixblock{
      position:fixed;
      z-index:100
  }
  #fixbar{
      background:#45484d;
      background:-moz-linear-gradient(top,rgba(69,72,77,1) 0,rgba(0,0,0,1) 100%);
      background:-webkit-gradient(linear,left top,left bottom,color-stop(0,rgba(69,72,77,1)),color-stop(100%,rgba(0,0,0,1)));
      background:-webkit-linear-gradient(top,rgba(69,72,77,1) 0,rgba(0,0,0,1) 100%);
      background:-o-linear-gradient(top,rgba(69,72,77,1) 0,rgba(0,0,0,1) 100%);
      background:-ms-linear-gradient(top,rgba(69,72,77,1) 0,rgba(0,0,0,1) 100%);
      background:linear-gradient(to bottom,rgba(69,72,77,1) 0,rgba(0,0,0,1) 100%);
      filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#45484d', endColorstr='#000000', GradientType=0 );
      color:#ddd;
      font-weight:700;
      text-align:center;
      padding:10px;
      height:27px
  }
  #fixbar div#dockbar_callback,#fixbar div#dockbar_compare,#fixbar div#dockbar_feedback,#fixbar div#dockbar_history,#fixbar div#dockbar_login,#fixbar div#dockbar_phone,#fixbar div#dockbar_wishlist{
      text-align:left;
      display:inline-block;
      padding:0 7px;
      border-right:2px solid rgba(255,255,255,.4);
      color:#9fa1a4
  }
  #fixbar div a{
      color:#9fa1a4;
      text-decoration:none
  }
  #fixbar div:hover{
      color:#fff!important;
      text-decoration:none;
      cursor:pointer
  }
  #fixbar div.current{
      border:none;
      color:#fff!important;
      text-decoration:none
  }
  #dockbar_callback{
      background-image:url(../images/default/callback-icon.png)
  }
  #dockbar_phone{
      background-image:url(../images/default/cell_phone.png);
      background-repeat:no-repeat;
      padding-left:18px!important;
      color:#fff!important;
      font:400 16px Tahoma;
      border-bottom:1px dashed #999
  }
  #dockbar_feedback{
      background-image:url(../images/default/email.png);
      background-repeat:no-repeat;
      padding-left:20px!important
  }
  #dockbar_history{
      background-image:url(../images/default/clock-icon.png)
  }
  #dockbar_wishlist{
      background-image:url(../images/default/favorit-icon.png)
  }
  #dockbar_compare{
      background-image:url(../images/default/compare-icon.png)
  }
  #dockbar_login{
      background-image:url(../images/default/user-icon.png)
  }
  #dockbar_down{
      float:right;
      visibility:hidden;
      margin-right:20px;
      border-right:none!important
  }
  #dockbar_cart.current,#fixbar div#dockbar_cart{
      text-align:left;
      display:inline-block;
      padding:0 7px;
      color:#9fa1a4;
      background:0 0
  }
  #dockbar_cart .cart_nvg{
      color:#111;
      font-size:13px;
      font-weight:700
  }
  #dockbar_cart .cart_summa{
      margin-top:12px;
      text-align:right
  }
  #fixbar span.cartcheckout{
      border-right:2px solid rgba(255,255,255,.4);
      padding-right:7px;
      display:inline-block
  }
  #fixbar .cartcheckout a{
      background:#740c0c;
      border-radius:5px;
      -webkit-border-radius:5px;
      -moz-border-radius:5px;
      color:#eee;
      font-weight:700;
      padding:5px 14px
  }
  #fixbar.cartcheckout a:hover{
      background:#c00000;
      color:#fff;
      text-decoration:none
  }
  #downslide_dockbar .inputbox,#downslide_dockbar button,#downslide_dockbar input,#downslide_dockbar select,#downslide_dockbar textarea,.comparebtn,span.nvg_registr a{
      border-radius:5px;
      -webkit-border-radius:5px;
      -moz-border-radius:5px;
      -o-border-radius:5px;
      border:1px solid #444;
      box-shadow:0 0 .7em #777 inset;
      background:#fff;
      color:#333;
      padding:5px 7px;
      text-decoration:none;
      font-size:15px
  }
  .comparebtn{
      float:right;
      margin:80px 20px;
      padding:7px 20px;
      background:#eee
  }
  #downslide_dockbar .button{
      padding:7px 17px
  }
  #fix_downslide{
      display:none;
      min-height:150px;
      background:rgba(0,0,0,.5)
  }
  #fix_downslide.show{
      display:block;
      -moz-transition:all .5s linear;
      -o-transition:all .5s linear;
      -webkit-transition:all .5s linear
  }
  #downslide_dockbar,#downslide_dockbar_callback,#downslide_dockbar_cart,#downslide_dockbar_compare,#downslide_dockbar_feedback,#downslide_dockbar_history,#downslide_dockbar_login,#downslide_dockbar_phone,#downslide_dockbar_wishlist{
      display:none;
      min-height:200px;
      border-top:1px solid #333;
      overflow:hidden;
      text-align:center;
      color:#fff;
      background:#45484d;
      background:-moz-linear-gradient(top,rgba(69,72,77,1) 0,rgba(0,0,0,1) 100%);
      background:-webkit-gradient(linear,left top,left bottom,color-stop(0,rgba(69,72,77,1)),color-stop(100%,rgba(0,0,0,1)));
      background:-webkit-linear-gradient(top,rgba(69,72,77,1) 0,rgba(0,0,0,1) 100%);
      background:-o-linear-gradient(top,rgba(69,72,77,1) 0,rgba(0,0,0,1) 100%);
      background:-ms-linear-gradient(top,rgba(69,72,77,1) 0,rgba(0,0,0,1) 100%);
      background:linear-gradient(to bottom,rgba(69,72,77,1) 0,rgba(0,0,0,1) 100%);
      filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#45484d', endColorstr='#000000', GradientType=0 )
  }
  #downslide_dockbar{
      display:block;
      min-height:0;
      height:0
  }
  .dwnslide_center,.dwnslide_left,.dwnslide_right{
      display:inline-block;
      margin:10px;
      vertical-align:top;
      max-width:500px
  }
  .nvg_feedback .dwnslide_left{
      vertical-align:top
  }
  .alleft{
      text-align:left
  }
  .alright{
      text-align:right
  }
  .dwnslide_center input,.dwnslide_left input,.dwnslide_right input{
      margin:10px 0
  }
  .dwnslidefeed{
      width:400px;
      height:120px
  }
  #downslide_dockbar_phone .phonewrraper{
      text-align:center
  }
  #downslide_dockbar_phone .phoneblock{
      color:#fff;
      text-align:left
  }
  #downslide_dockbar_callback .nvg_callback input,#downslide_dockbar_callback .nvg_callback label,#downslide_dockbar_feedback .nvg_feedback input,#downslide_dockbar_feedback .nvg_feedback label,#downslide_dockbar_login #form-login-remember label{
      font-size:16px;
      display:inline-block;
      margin:5px
  }
  .short_desсr,table.jshop_product_compare tbody tr.even td.shot_desс,table.jshop_product_compare tbody tr.odd td.shot_desс{
      font-size:11px;
      font-style:italic
  }
  #downslide_dockbar_cart,#downslide_dockbar_history,#downslide_dockbar_wishlist{
      text-align:center
  }
  #downslide_dockbar_history .block_item,#downslide_dockbar_wishlist .block_item{
      width:130px;
      margin:10px;
      height:150px;
      display:inline-block;
      vertical-align:top
  }
  .emptno,.emptyes{
      padding:3px 7px;
      margin:0 10px 0 0;
      text-align:center
  }
  #downslide_dockbar_history .block_item .item_image img,#downslide_dockbar_wishlist .block_item .item_image img{
      width:100px;
      height:100px;
      border-radius:5px;
      -webkit-border-radius:5px;
      -moz-border-radius:5px
  }
  #downslide_dockbar_history .block_item .item_image .product_label img,#downslide_dockbar_wishlist .block_item .item_image .product_label img{
      max-width:15px;
      max-height:15px
  }
  #downslide_dockbar_history .block_item:hover .item_image img,#downslide_dockbar_wishlist .block_item:hover .item_image img{
      width:130px;
      height:130px;
      -moz-transition:all .2s linear;
      -o-transition:all .2s linear;
      -webkit-transition:all .2s linear
  }
  ,#downslide_dockbar_history .block_item .item_name a,#downslide_dockbar_wishlist .block_item .item_name a{
      color:#9fa1a4;
      background:0 0;
      max-width:130px
  }
  #downslide_dockbar_history .block_item:hover .item_name,#downslide_dockbar_wishlist .block_item:hover .item_name{
      display:none
  }
  .emptyes{
      background:#767a81;
      border-radius:25px;
      -webkit-border-radius:25px;
      -moz-border-radius:25px;
      color:#9fa2a7
  }
  .emptno,.emptno a{
      color:#fff!important
  }
  .emptno{
      background:#950000;
      border-radius:25px;
      -webkit-border-radius:25px;
      -moz-border-radius:25px
  }
  sub.sub-r{
      color:#fff
  }
  #downslide_dockbar_phone{
      background:url(/modules/mod_jshopping_shopdockbar/images/default/docbar_openhoursbg.png) 20px 30px no-repeat
  }
  #downslide_dockbar_callback{
      background:url(/modules/mod_jshopping_shopdockbar/images/default/docbar_callbackbg.png) 20px 30px no-repeat
  }
  #downslide_dockbar_feedback{
      background:url(/modules/mod_jshopping_shopdockbar/images/default/docbar_feedbackbg.png) 20px 30px no-repeat
  }
  #downslide_dockbar_history{
      background:url(/modules/mod_jshopping_shopdockbar/images/default/docbar_historybg.png) 20px 40px no-repeat
  }
  #downslide_dockbar_wishlist{
      background:url(/modules/mod_jshopping_shopdockbar/images/default/docbar_bloknotbg.png) 20px 30px no-repeat
  }
  #downslide_dockbar_compare{
      background:url(/modules/mod_jshopping_shopdockbar/images/default/docbar_comarebg.png) 20px 30px no-repeat
  }
  #downslide_dockbar_cart{
      background:url(/modules/mod_jshopping_shopdockbar/images/default/docbar_cartbg.png) 20px 40px no-repeat
  }
  #downslide_dockbar_login{
      background:url(/modules/mod_jshopping_shopdockbar/images/default/docbar_loginbg.png) 20px 40px no-repeat
  }
  #carousel-cart,#carousel-compare,#carousel-history,#carousel-wishlist{
      height:195px;
      margin:0 auto
  }
  @media (max-width:1980px){
      #carousel-cart,#carousel-compare,#carousel-history,#carousel-wishlist{
          width:960px
  }
  }
  @media (max-width:1600px){
      #carousel-cart,#carousel-compare,#carousel-history,#carousel-wishlist{
          width:820px
  }
  }
  @media (max-width:1024px){
      #carousel-cart,#carousel-compare,#carousel-history,#carousel-wishlist{
          width:520px
  }
  }
  @media (max-width:800px){
      #carousel-cart,#carousel-compare,#carousel-history,#carousel-wishlist{
          width:420px
  }
  }
  @media (max-width:640px){
      #carousel-cart,#carousel-compare,#carousel-history,#carousel-wishlist{
          width:220px
  }
  }
  #carousel-cart .arrow-holder,#carousel-compare .arrow-holder,#carousel-history .arrow-holder,#carousel-wishlist .arrow-holder{
      height:150px
  }
  #carousel-cart .item-block,#carousel-compare .item-block,#carousel-history .item-block,#carousel-wishlist .item-block{
      text-decoration:none;
      color:inherit
  }
  .touchcarousel{
      position:relative;
      height:190px;
      overflow:hidden
  }
  .touchcarousel .touchcarousel-container{
      position:relative;
      margin:0;
      padding:0;
      list-style:none;
      left:0
  }
  .touchcarousel .touchcarousel-wrapper{
      position:relative;
      overflow:hidden;
      width:100%;
      height:100%
  }
  .touchcarousel .touchcarousel-item{
      margin:0;
      padding:0;
      float:left;
      list-style:none;
      width:130px
  }
  a.but_rem,table.jshop_product_compare .review_mark,table.jshop_product_compare thead .buttons{
      float:right
  }
  .touchcarousel .touchcarousel-item.last{
      margin-right:0!important
  }
  .touchcarousel .arrow-holder{
      height:100%;
      width:45px;
      position:absolute;
      top:0;
      display:block;
      cursor:pointer;
      z-index:25
  }
  .touchcarousel .arrow-holder.left{
      left:-30px
  }
  .touchcarousel .arrow-holder.right{
      right:-30px
  }
  .touchcarousel .arrow-icon{
      width:45px;
      height:90px;
      top:50%;
      margin-top:-45px;
      position:absolute;
      cursor:pointer
  }
  .touchcarousel .arrow-holder.disabled,.touchcarousel .arrow-holder.disabled .arrow-icon{
      cursor:default
  }
  .touchcarousel .scrollbar-holder{
      position:absolute;
      z-index:31;
      left:6px;
      right:6px;
      top:5px;
      height:4px;
      overflow:hidden;
      display:none
  }
  .touchcarousel .scrollbar{
      position:absolute;
      left:0;
      height:4px;
      top:0
  }
  .touchcarousel .scrollbar.dark{
      background-color:#d2d2d2;
      background-color:rgba(255,255,255,.5)
  }
  .touchcarousel .grab-cursor{
      cursor:url(../images/default/grab.png) 8 8,move
  }
  .touchcarousel .grabbing-cursor{
      cursor:url(../images/default/grabbing.png) 8 8,move
  }
  .touchcarousel .auto-cursor{
      cursor:auto
  }
  .touchcarousel.minimal-light .arrow-icon{
      width:23px;
      height:28px;
      margin-top:-14px
  }
  .touchcarousel.minimal-light .arrow-icon.left{
      left:5px;
      background:url(../images/default/sprite.png) -6px -7px no-repeat
  }
  .touchcarousel.minimal-light .arrow-icon.right{
      right:5px;
      background:url(../images/default/sprite.png) -173px -7px no-repeat
  }
  .touchcarousel.minimal-light .arrow-holder.disabled{
      -moz-opacity:1;
      -webkit-opacity:1;
      opacity:1
  }
  .touchcarousel.minimal-light .arrow-holder.disabled .arrow-icon.left{
      background:url(../images/default/sprite.png) -40px -7px no-repeat
  }
  .touchcarousel.minimal-light .arrow-holder.disabled .arrow-icon.right{
      background:url(../images/default/sprite.png) -139px -7px no-repeat
  }
  .touchcarousel.minimal-light .arrow-holder{
      width:35px;
      -moz-opacity:.8;
      -webkit-opacity:.8;
      opacity:.8
  }
  .touchcarousel.minimal-light .arrow-holder:hover{
      -moz-opacity:1;
      -webkit-opacity:1;
      opacity:1
  }
  #carousel-cart .touchcarousel-item .item-block .delet,#carousel-compare .touchcarousel-item .item-block .delet,#carousel-wishlist .touchcarousel-item .item-block .delet,.qtynvg{
      background:#3f4c6b!important;
      width:22px;
      height:23px;
      cursor:pointer;
      position:absolute;
      display:none;
      border-radius:15px;
      -webkit-border-radius:15px;
      -moz-border-radius:15px;
      padding:2px 2px 0;
      border:1px solid #eee
  }
  .qtynvg{
      display:block
  }
  #carousel-cart .touchcarousel-item .item-block .delet a,#carousel-cart .touchcarousel-item .item-block .delet a:hover,#carousel-compare .touchcarousel-item .item-block .delet a,#carousel-compare .touchcarousel-item .item-block .delet a:hover,#carousel-wishlist .touchcarousel-item .item-block .delet a,#carousel-wishlist .touchcarousel-item .item-block .delet a:hover{
      color:#fff;
      text-decoration:none;
      background:0 0
  }
  #carousel-cart .touchcarousel-item .item-block:hover .delet,#carousel-compare .touchcarousel-item .item-block:hover .delet,#carousel-wishlist .touchcarousel-item .item-block:hover .delet{
      display:block;
      z-index:31;
      background:#FF4B33!important
  }
  #carousel-cart .touchcarousel-item .item-block,#carousel-compare .touchcarousel-item .item-block,#carousel-history .touchcarousel-item .item-block,#carousel-wishlist .touchcarousel-item .item-block{
      width:130px;
      margin-top:10px;
      vertical-align:top;
      text-align:center;
      margin-left:10px
  }
  #carousel-cart .touchcarousel-item .item-block .item_image img,#carousel-compare .touchcarousel-item .item-block .item_image img,#carousel-history .touchcarousel-item .item-block .item_image img,#carousel-wishlist .touchcarousel-item .item-block .item_image img{
      width:100px;
      height:100px;
      border-radius:5px;
      -webkit-border-radius:5px;
      -moz-border-radius:5px
  }
  #carousel-cart .touchcarousel-item .item-block .item_image .product_label img,#carousel-compare .touchcarousel-item .item-block .item_image .product_label img,#carousel-history .touchcarousel-item .item-block .item_image .product_label img,#carousel-wishlist .touchcarousel-item .item-block .item_image .product_label img{
      max-width:15px;
      max-height:15px
  }
  #carousel-cart .touchcarousel-item .item-block a:hover .item_image img,#carousel-cart .touchcarousel-item .item-block:hover .item_image img,#carousel-compare .touchcarousel-item .item-block a:hover .item_image img,#carousel-compare .touchcarousel-item .item-block:hover .item_image img,#carousel-history .touchcarousel-item .item-block a:hover .item_image img,#carousel-history .touchcarousel-item .item-block:hover .item_image img,#carousel-wishlist .touchcarousel-item .item-block a:hover .item_image img,#carousel-wishlist .touchcarousel-item .item-block:hover .item_image img{
      width:130px;
      height:130px;
      -moz-transition:all .2s linear;
      -o-transition:all .2s linear;
      -webkit-transition:all .2s linear
  }
  #carousel-cart .touchcarousel-item .item-block .item_name,#carousel-compare.touchcarousel-item .item-block .item_name,#carousel-history .touchcarousel-item .item-block .item_name,#carousel-wishlist .touchcarousel-item .item-block .item_name{
      max-width:100px;
      margin:0 15px
  }
  #carousel-cart .touchcarousel-item .item-block:hover .item_name,#carousel-compare .touchcarousel-item .item-block:hover .item_name,#carousel-history .touchcarousel-item .item-block:hover .item_name,#carousel-wishlist .touchcarousel-item .item-block:hover .item_name{
      display:none
  }
  .shopdockbar-wait{
      background:url(../images/default/overlay.gif) center 0 no-repeat!important;
      margin-top:90px
  }
  .nologin,.yeslogin{
      padding:10px;
      color:#fff
  }
  .nologin #form-login-password,.nologin #form-login-username{
      display:inline-block
  }
  #form-login-username label{
      display:block
  }
  span.nvg_registr a:hover{
      background:#fff!important;
      text-decoration:none;
      color:#000!important
  }
  #dockbar-bubble{
      position:fixed;
      bottom:150px;
      width:200px;
      height:auto;
      background:#c00000;
      -moz-border-radius:10px;
      -webkit-border-radius:10px;
      border-radius:10px;
      padding:10px;
      color:#fff;
      font-weight:700;
      text-align:center;
      margin:0 20px;
      display:none
  }
  #dockbar-bubble:after,#dockbar-bubble:before{
      content:'';
      position:absolute;
      bottom:-10px;
      left:50%;
      margin-left:-9px;
      width:0;
      height:0;
      border-left:10px solid transparent;
      border-right:10px solid transparent;
      border-top:10px solid #c00000
  }
  table.jshop_product_compare{
      border-collapse:collapse
  }
  table.jshop_product_compare tbody td,table.jshop_product_compare thead td{
      border:1px solid #eee
  }
  table.jshop_product_compare thead td{
      vertical-align:top
  }
  table.jshop_product_compare thead td:first-child{
      border:none;
      background:#fafafa;
      padding:10px;
      width:23%
  }
  .selectoralldef{
      background:#fff;
      background:-moz-linear-gradient(top,rgba(255,255,255,1) 0,rgba(243,243,243,1) 50%,rgba(237,237,237,1) 51%,rgba(255,255,255,1) 100%);
      background:-webkit-gradient(linear,left top,left bottom,color-stop(0,rgba(255,255,255,1)),color-stop(50%,rgba(243,243,243,1)),color-stop(51%,rgba(237,237,237,1)),color-stop(100%,rgba(255,255,255,1)));
      background:-webkit-linear-gradient(top,rgba(255,255,255,1) 0,rgba(243,243,243,1) 50%,rgba(237,237,237,1) 51%,rgba(255,255,255,1) 100%);
      background:-o-linear-gradient(top,rgba(255,255,255,1) 0,rgba(243,243,243,1) 50%,rgba(237,237,237,1) 51%,rgba(255,255,255,1) 100%);
      background:-ms-linear-gradient(top,rgba(255,255,255,1) 0,rgba(243,243,243,1) 50%,rgba(237,237,237,1) 51%,rgba(255,255,255,1) 100%);
      background:linear-gradient(to bottom,rgba(255,255,255,1) 0,rgba(243,243,243,1) 50%,rgba(237,237,237,1) 51%,rgba(255,255,255,1) 100%);
      filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff', GradientType=0 );
      border:1px solid #ddd;
      border-radius:5px;
      -webkit-border-radius:5px;
      -moz-border-radius:5px;
      width:auto
  }
  div.whalf,div.whalf_a{
      width:48%;
      display:inline-block;
      text-align:center;
      padding:5px 0
  }
  div.whalf_a{
      background:#fff;
      background:-moz-linear-gradient(top,rgba(255,255,255,1) 0,rgba(224,224,224,1) 50%,rgba(209,209,209,1) 51%,rgba(246,246,246,1) 100%);
      background:-webkit-gradient(linear,left top,left bottom,color-stop(0,rgba(255,255,255,1)),color-stop(50%,rgba(224,224,224,1)),color-stop(51%,rgba(209,209,209,1)),color-stop(100%,rgba(246,246,246,1)));
      background:-webkit-linear-gradient(top,rgba(255,255,255,1) 0,rgba(224,224,224,1) 50%,rgba(209,209,209,1) 51%,rgba(246,246,246,1) 100%);
      background:-o-linear-gradient(top,rgba(255,255,255,1) 0,rgba(224,224,224,1) 50%,rgba(209,209,209,1) 51%,rgba(246,246,246,1) 100%);
      background:-ms-linear-gradient(top,rgba(255,255,255,1) 0,rgba(224,224,224,1) 50%,rgba(209,209,209,1) 51%,rgba(246,246,246,1) 100%);
      background:linear-gradient(to bottom,rgba(255,255,255,1) 0,rgba(224,224,224,1) 50%,rgba(209,209,209,1) 51%,rgba(246,246,246,1) 100%);
      filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f6f6f6', GradientType=0 )
  }
  #show_all div.whalf_a{
      border-radius:0 5px 5px 0;
      -webkit-border-radius:0 5px 5px 0;
      -moz-border-radius:0 5px 5px 0
  }
  #show_differences div.whalf_a{
      border-radius:5px 0 0 5px;
      -webkit-border-radius:5px 0 0 5px;
      -moz-border-radius:5px 0 0 5px
  }
  .add_product,.remove_all{
      padding:5px 12px;
      border:1px solid #ccc;
      border-radius:5px;
      -webkit-border-radius:5px;
      -moz-border-radius:5px;
      text-align:center;
      margin:25px 0;
      width:110px
  }
  .add_product a,.remove_all a{
      color:#777
  }
  .add_product{
      background:#fff;
      background:-moz-linear-gradient(top,rgba(255,255,255,1) 0,rgba(214,232,169,1) 50%,rgba(200,234,119,1) 51%,rgba(255,255,255,1) 100%);
      background:-webkit-gradient(linear,left top,left bottom,color-stop(0,rgba(255,255,255,1)),color-stop(50%,rgba(214,232,169,1)),color-stop(51%,rgba(200,234,119,1)),color-stop(100%,rgba(255,255,255,1)));
      background:-webkit-linear-gradient(top,rgba(255,255,255,1) 0,rgba(214,232,169,1) 50%,rgba(200,234,119,1) 51%,rgba(255,255,255,1) 100%);
      background:-o-linear-gradient(top,rgba(255,255,255,1) 0,rgba(214,232,169,1) 50%,rgba(200,234,119,1) 51%,rgba(255,255,255,1) 100%);
      background:-ms-linear-gradient(top,rgba(255,255,255,1) 0,rgba(214,232,169,1) 50%,rgba(200,234,119,1) 51%,rgba(255,255,255,1) 100%);
      background:linear-gradient(to bottom,rgba(255,255,255,1) 0,rgba(214,232,169,1) 50%,rgba(200,234,119,1) 51%,rgba(255,255,255,1) 100%);
      filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff', GradientType=0 )
  }
  .remove_all{
      background:#f5f6f6;
      background:-moz-linear-gradient(top,rgba(245,246,246,1) 0,rgba(249,216,212,1) 21%,rgba(252,161,148,1) 49%,rgba(249,216,212,1) 80%,rgba(245,246,246,1) 100%);
      background:-webkit-gradient(linear,left top,left bottom,color-stop(0,rgba(245,246,246,1)),color-stop(21%,rgba(249,216,212,1)),color-stop(49%,rgba(252,161,148,1)),color-stop(80%,rgba(249,216,212,1)),color-stop(100%,rgba(245,246,246,1)));
      background:-webkit-linear-gradient(top,rgba(245,246,246,1) 0,rgba(249,216,212,1) 21%,rgba(252,161,148,1) 49%,rgba(249,216,212,1) 80%,rgba(245,246,246,1) 100%);
      background:-o-linear-gradient(top,rgba(245,246,246,1) 0,rgba(249,216,212,1) 21%,rgba(252,161,148,1) 49%,rgba(249,216,212,1) 80%,rgba(245,246,246,1) 100%);
      background:-ms-linear-gradient(top,rgba(245,246,246,1) 0,rgba(249,216,212,1) 21%,rgba(252,161,148,1) 49%,rgba(249,216,212,1) 80%,rgba(245,246,246,1) 100%);
      background:linear-gradient(to bottom,rgba(245,246,246,1) 0,rgba(249,216,212,1) 21%,rgba(252,161,148,1) 49%,rgba(249,216,212,1) 80%,rgba(245,246,246,1) 100%);
      filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f6f6', endColorstr='#f5f6f6', GradientType=0 )
  }
  table.jshop_product_compare td{
      padding:0 5px 5px;
      border:none;
      box-shadow:none
  }
  table.jshop_product_compare .name{
      font-weight:700;
      min-height:60px
  }
  table.jshop_product_compare .image{
      text-align:center;
      min-height:130px
  }
  table.jshop_product_compare .old_price{
      text-decoration:line-through;
      color:#aaa
  }
  .js_list_add_to_compare{
      white-space:nowrap
  }
  table.jshop_product_compare tbody tr.odd{
      background:#f5f5f5
  }
  table.jshop_product_compare tbody tr td:first-child{
      background:#fafafa
  }
  table.jshop_product_compare tbody tr.odd:hover,table.jshop_product_compare tbody tr:hover{
      background:#ddd
  }
  a.but_rem{
      margin:2px 7px
  }
  .back_to_shop{
      padding-top:10px
  }
  