
.gradient_container,.gradient_hider {
  margin: -4px 0 -4px 10px;
  float: left;
}

.gradient_container {
  position: relative;
}

.gradient_hider {
  margin-top: -30px;
  height: 30px;
}

.minigradient_bg {
  height: 23px;
  padding: 4px;
  border-radius: 3px;
  min-width: 170px;
  width: 100%;
}

.gradient_left {
  float: left;
}

.gradient_right {
  float: right;
}

.gradient_container .jPicker{
  display: block;
  float:left;
}