<?xml version="1.0" encoding="UTF-8"?>
<form>
  <params>
    <param name="joomlamenu" type="offlajnmenu" default="mainmenu" label="MENU_NAME" description="THE_NAME_OF_THE_MENU_DEFAULT_IS_MAINMENU" />
    <param name="joomlamenutype" type="offlajnmenuitemextended" default="mainmenu" label="Menu-items" description="Here you can select which menu-items do you want to show" height="10" />
		<param name="parenthref" type="offlajnonoff" default="0" label="Parent items as link" description="If enabled, the items which have subitems will be openable." />
    <param name="displaynumprod" check="conditions" type="offlajnlist" default="0" label="Display count &lt;br&gt; of sub-items" description="">
      <option value="0">No</option>
      <option value="1">YES_ONLY_THE_REAL_COUNT</option>
      <option value="2">YES_THE_AGGREGATED_COUNT_ON_EACH_CATEGORY</option>
    </param>
    <param name="subheader" type="offlajncombine" default="0|*|50|*|" label="Menu-item description">
      <param type="offlajnonoff" check="conditions" onoff="1" label="SHOW_SUBHEADER" description="SHOW_SUBHEADER" />
      <param type="offlajntext" label="LENGTH_SUBHEADER" validation="int" size="3" description="LENGTH_SUBHEADER" />
    </param>
    <param name="menu_images" check="conditions" type="offlajnonoff" default="0" label="Show menu-item icons" description=""/>
    <param type="offlajncombine" if="menu_images" name="resizeicon" default="0|*|32||px|*|32||px|*|32||px|*|0" label="Resize menu-item icons" description="">
      <param type="offlajnonoff" onoff="1" label="Advanced" description=""/>
      <param size="2" validation="int" type="offlajntext" label="Max width">
        <unit>px</unit>
      </param>
      <param type="offlajnclear"/>
      <param size="2" validation="int" type="offlajntext" label="Width">
        <unit>px</unit>
      </param>
      <param size="2" validation="int" type="offlajntext" label="Height">
        <unit>px</unit>
      </param>
      <param type="offlajnswitcher" label="-">
        <unit value="1">Scale</unit>
        <unit value="0">Crop</unit>
      </param>
    </param>
    <param type="offlajncombine" if="menu_images" name="iconborderradius" default="0|*|0|*|0|*|0|*|px" label="Menu-item icon &lt;br&gt; border-radius" description="">
      <param size="2" validation="int" type="offlajntext" label="Top-left"/>
      <param size="2" validation="int" type="offlajntext" label="Top-right"/>
      <param size="2" validation="int" type="offlajntext" label="Bottom-right"/>
      <param size="2" validation="int" type="offlajntext" label="Bottom-left"/>
      <param type="offlajnswitcher" label="-">
        <unit value="%">%</unit>
        <unit value="px">px</unit>
      </param>
    </param>
  </params>
</form>