<?xml version="1.0" encoding="utf-8"?>
<!-- $Id: config.xml 19439 2010-11-10 15:42:23Z chdemko $ -->
<config>
    <fieldset
		name="extra"
		label="Расширенные параметры"
		description="Расширенные настройки"
		>



		<field name="chunk_size" type="text" default="1000" label="Шаг считывания при импорте" description="CHUNK_SIZE_DESC" />
        <field name="export_query_size" type="text" default="1000" label="Шаг считывания при экспорте" description="" />     
		<field name="reimport_num" type="text" default="10" label="Авто-реимпорт" description="REIMPORT_DESC" />
		<field name="reimport_time" type="text" default="10" label="Кол-во сек до реимпорта" description="REIMPORT_TIME_DESC" />
        <field name="images_rename" type="radio" default="0" label="Переименование скачиваемых изображений" description="Включение функции приведет к тому&#44; что изображения&#44;скачиваемые по прямой ссылке в прайсе&#44; будут переименованы. За основу нового имени файла изображения берется Код товара.">
		  <option value="0">Выкл</option>
		  <option value="1">Вкл</option>
		</field>
        <field name="images_resize" type="radio" default="1" label="Создание миниатюр" description="Выключение функции приведет к тому&#44; что миниатюры изображений не будут создаваться. Это снизит нагрузку на процессор и ускорит импорт. Но Вам нужно будет по ФТП загрузить самостоятельно все миниатюры изозображения">
		  <option value="0">Выкл</option>
		  <option value="1">Вкл</option>
		</field>
        <field name="thumb_replace" type="radio" default="1" label="Замена миниатюр" description="Выключение функции приведет к тому&#44; что миниатюры изображений существующих товаров не будут создаваться заново, если они уже существуют и имеют то же название. Это снизит нагрузку на процессор и ускорит импорт.">
		  <option value="0">Выкл</option>
		  <option value="1">Вкл</option>
		</field>
        <field name="images_path" type="radio" default="0" label="Путь к изображениям" description="Если в конфигурациооном файле JS вы изменили путь к изображениям&#44; то в этой опции &#44; Вы можете выбрать&#44; помещать изображения по измененному пути или в папку по умолчанию (/components/com_jshopping/files/img_products/)">
		  <option value="0">Из конфигурационого файла JS</option>
		  <option value="1">По умолчанию</option>
		</field>
        <field name="custom_clear" type="text" default="-" label="Символ очистки доп. полей" description="CLEAR_SYMBOL_DESC" />
       <field name="exclude" type="text" default="" label="Категории-исключение при поиске по ключевым словам" description="CAT_EXCLUDES_DESC" /> 
	</fieldset>
    <fieldset
		name="debug"
		label="Отладка"
		description="Отладка"
		>
        <field name="debug" type="radio" default="0" label="Отладка" description="DEBUG_DESC">
		  <option value="0">Выкл</option>
		  <option value="1">Вкл</option>
		</field>

        <field name="db_debug" type="radio" default="0" label="Отладка запросов к БД" description="DISPLAY_ERRORS_DESC">
		  <option value="0">Выкл</option>
		  <option value="1">Вкл</option>
		</field>
        <field name="max_execution_time" type="text" default="300" label="Время исполнения скрипта" description="MAX_EXECUTION_TIME_DESC" />
    </fieldset>
    <fieldset
		name="csv"
		label="Настройки CSV"
		description="Настройки разделителей CSV-файлов"
		>
		<field name="csv_field_delimiter" type="text" default=";" label="Разделитель колонок" description="Укажите разделитель полей. По умолчанию - точка с запятой" />


		<field name="csv_row_delimiter" type="text" default="" label="Спец. символ в начале и конце строки" description="CSV_ROW_DELIMITER_DESC" />
        <field name="csv_convert" type="radio" default="1" label="Кодировка csv-файла" description="Если названия становятся нечитаемыми - поменяйте кодировку">
		  <option value="0">UTF-8 (ANSI as UTF-8)</option>
		  <option value="1">WINDOWS-1251 (ANSI)</option>
		</field>
	</fieldset>
    <fieldset
		name="caching"
		label="Кэширование"
		description="Настройки кэширования"
		>
        <field name="sku_cache" type="radio" default="0" label="Кэш Кодов товаров" description="SCU_CACHE_DESC">
		  <option value="0">Выкл</option>
		  <option value="1">Вкл</option>
		</field>
        <field name="productid_cache" type="radio" default="0" label="Кэш ID товаров" description="PRODUCTID_CACH_DESC">
		  <option value="0">Выкл</option>
		  <option value="1">Вкл</option>
		</field>
        <field name="yml_cache" type="radio" default="0" label="Кэш Импортируемого YML-файла" description="Если импортируемый YML-файл имеет размер более 10 Мб&#44; то включение данной опции позволит скачать YML-файл на Ваш сервер на время импорта&#44; что ускорит процесс чтения этого файла"> 
		  <option value="0">Выкл</option>
		  <option value="1">Вкл</option>
		</field>
	</fieldset>
	<fieldset
		name="notify"
		label="Уведомления"
		description="Настройки эффектов появления и исчезновения уведомлений"
		>
		<field name="notify_show" type="list" default="fold" label="Эффект появления" description="NOTIFY_SHOW_DESC">
		  <option value="none">None</option>
		  <option value="bounce">bounce</option>
		  <option value="clip">clip</option>
		  <option value="drop">drop</option>
		  <option value="explode">explode</option>
		  <option value="fold">fold</option>
		  <option value="scale">scale</option>
		  <option value="slide">slide</option>
		</field>

		<field name="notify_hide" type="list" default="explode" label="Эффект исчезновения" description="HIDE_DESC">
		  <option value="none">None</option>
		  <option value="bounce">bounce</option>
		  <option value="clip">clip</option>
		  <option value="drop">drop</option>
		  <option value="explode">explode</option>
		  <option value="fold">fold</option>
		  <option value="scale">scale</option>
		  <option value="slide">slide</option>
		</field>

	</fieldset>
    <fieldset
		name="cron"
		label="Импорт по расписанию"
		description="CRON_DESC"
		>
        <field addfieldpath="administrator/components/com_excel2js/config" name="directory_path" type="pathes" size="150" default="" link="administrator/components/com_excel2js/xls" constant="JPATH_ROOT" label="Путь к папке" description="CRON_DIRRECTORY_DESC" />
        <field name="remote_file" type="text" default="" label="Ссылка на удаленный файл" description="Ссылка на файл должна начинаться с http:// или https://. Файл будет скачан в вышеуказанную папку&#44; а затем импортирован" />

        <field addfieldpath="administrator/components/com_excel2js/config" name="cron_profile" type="profilelist" default="" size="1"
			label="Профиль"
			description="CRON_PROFILE_DESC">
		</field>

        <field addfieldpath="administrator/components/com_excel2js/config" name="cron_link" type="links" default="administrator/components/com_excel2js/models/cron.php"
			label="Ссылка на скрипт для Cron"
			description="CRON_LINK_DESC">
		</field>

        <field addfieldpath="administrator/components/com_excel2js/config" name="cron_log_link" type="links" default="administrator/components/com_excel2js/models/cron_log.txt"
			label="Журнал автоматического импорта"
			description="CRON_LOG_DESC">
		</field>

	</fieldset>

    <fieldset
		name="yml"
		label="YML"
		description="Настройки YML"
		>
        <field addfieldpath="administrator/components/com_excel2js/config" name="cron_yml_import" type="ymlprofilelist" default="" size="1"
			label="Профиль Импорта YML по расписанияю"
			description="">
		</field>

        <field addfieldpath="administrator/components/com_excel2js/config" name="cron_yml_export" type="ymlprofilelist" default="" size="1"
			label="Профиль экспорта YML по расписанияю"
			description="">
		</field>
        <field name="show_old_price" type="list" default="0" label="Экспортировать цену без скидки?" description="Данная цена будет выводиться в теге oldprice">
		  <option value="0">Нет</option>
		  <option value="1">Да</option>
		</field>
        <field name="price_round" type="text" default="2" label="Число знаков после запятой в цене" description="" />
        <field name="delivery" type="radio" default="1" label="Возможность доставки товара" description="">
		  <option value="0">Нет</option>
		  <option value="1">Да</option>
		</field>
        <field name="pickup" type="radio" default="1" label="Возможность самовывоза" description="">
		  <option value="0">Нет</option>
		  <option value="1">Да</option>
		  <option value="-1">Не указывать</option>
		</field>
        <field name="store" type="radio" default="1" label="Наличие точки продаж" description="">
		  <option value="0">Нет</option>
		  <option value="1">Да</option>
          <option value="-1">Не указывать</option>
		</field>
        <field name="manufacturer_warranty" type="radio" default="1" label="Гарантия от производителя" description="">
		  <option value="0">Нет</option>
		  <option value="1">Да</option>
		</field>
        <field name="stock" type="radio" default="0" label="Количество товара" description="Данного тэга нет в стандарте YML!">
		  <option value="0">Нет</option>
		  <option value="1">Да</option>
		</field>
		<field name="yml_description" type="list" default="0" label="Обработка HTML-тэгов в описании" description="">
		  <option value="0">Замена на HTML-сущности</option>
		  <option value="1">Удалить все тэги</option>
		  <option value="2">Обернуть в тэг CDATA</option>
		</field>
        <field name="cut_description" type="radio" default="1" label="Обрезать описание до 250 символов?" description="В соответствии со стандартом YML оставляются только первые 250 символов полного описания товара">
		  <option value="0">Нет</option>
		  <option value="1">Да</option>
		</field>
        <field name="yml_available" type="list" default="0" label="Доступность товаров" description="">
		  <option value="0">Зависит от количества на складе</option>
		  <option value="1">Принудительно доступны все</option>
		</field>
        <field name="local_delivery_cost" type="text" default="0" label="Общая стоимость доставки для всех товаров" description="" />
        <field name="sales_notes" type="textarea" cols="30" rows="2" default="" label="Тэг sales_notes" description="Текст из этого поля будет добавлен в качестве тэга всем товарам. Максимум - 50 символов" />
        <field name="delivery_options" type="textarea" cols="30" rows="3" label="Стоимость и сроки курьерской доставки" description="DELIVERY_OPTIONS_DESCRIPTION" />
        <field name="alternative_domain" type="text" default="" label="Домен" description="Если необходимо&#44; чтобы в YML-файле был указан другой домен - укажите его в этом поле" />
        <field name="utm_source" type="text" default="" label="Метка utm_source" description="Если необходимо&#44; чтобы в YML-файле к ссылке на товары добавлялась UTM-метка utm_source - укажите ее в этом поле" />

        <field name="utm_term" type="radio" default="0" label="Метка utm_term" description="Если необходимо&#44; чтобы в YML-файле к ссылке на товары добавлялась UTM-метка utm_term - включите эту опцию. В качестве метки будет использован ID товара">
		  <option value="0">Нет</option>
		  <option value="1">Да</option>
		</field>
	</fieldset>

    <fieldset
		name="vk"
		label="Экспорт в VK"
		description=""
		>
        <field name="group_id" type="text" default="" label="ID группы ВКонтакте" description="Числовой или буквенный идентификатор группы VK. Пользователь ВК&#44; который авторизуется&#44; должен быть владельцем данной группы! Без указания правильного ID группы&#44; экспорт невозможен!" />
        <field name="step" type="number" default="5" min="1" max="20" label="Шаг экспорта" description="Количество товаров&#44; которые будут экспортированы за один шаг. Не рекоммендуется увеличивать данный параметр больше 20" />
        <field name="crop_width" type="number" default="604" min="400" max="14000" label="Ширина фотографии после обрезки в px" description="Размер обеих сторон фотографии после обрезки. Не может быть меньше 400 px" />
        <field name="crop_x" type="number" default="0" min="0" max="7000" label="Координата X для обрезки фотографии" description="Отступ влево начальной точки обрезки от верхнего правого угла" />
        <field name="crop_y" type="number" default="0" min="0" max="7000" label="Координата Y для обрезки фотографии" description="Отступ вниз начальной точки обрезки от верхнего правого угла" />
        <field name="list_nomber" type="number" default="20" min="5" max="200" label="Количество товаров в списке" description="Количество товаров&#44; которые будут загружаться из VK Market`а за один шаг" />

	</fieldset>

	<fieldset
		name="permissions"
		label="JCONFIG_PERMISSIONS_LABEL"
		description="JCONFIG_PERMISSIONS_DESC"
		>
		<field
			name="rules"
			type="rules"
			label="JCONFIG_PERMISSIONS_LABEL"
			class="inputbox"
			filter="rules"
			validate="rules"
			component="com_excel2js"
			section="component" />
	</fieldset>
</config>