.icon-cart-top-wrapper{

}
.mat_popup_load_box .mat_prod-cat-name {
    color: #212121 !important;
}
.mat_cart_left{
    float: left;
}
.mat_cart_right{
	float: right;
}
.mat_cart_black{
	background-image: url(../images/cart_black.png);
	-webkit-transition: opacity 2s ease-in;
    -moz-transition: opacity 2s ease-in;
    -o-transition: opacity 2s ease-in;
    -ms-transition: opacity 2s ease-in;
    transition: opacity 2s ease-in;
	cursor: pointer;
	color: #232323;
}
.mat_prod-cart-info{
    padding-left: 0;
}
.mat_cart_prod {
    border-bottom: 1px solid #5a5a5a;
    padding-top: 12px;
    padding-bottom: 10px;
}
.mat_cart_close:hover {
    color: #f1f1f1;
}
.mat_rotate{
	background-image: url(../images/rotate.gif);
	background-repeat:no-repeat;
	width:48px;
	height:48px; 
}
.mat_cart_white {
    background-image: url(../images/cart_white.png);
    -webkit-transition: opacity 2s ease-in;
    -moz-transition: opacity 2s ease-in;
    -o-transition: opacity 2s ease-in;
    -ms-transition: opacity 2s ease-in;
    transition: opacity 2s ease-in;
    cursor: pointer;
    color: #fff;
}
.mat_cart_button {
    padding: 0 9px 0 0;
    display: inline-block;
    border-radius: 2px 2px 0 0;
    -webkit-border-radius: 2px 2px 0 0;
    -moz-border-radius: 2px 2px 0 0;
    -o-border-radius: 2px 2px 0 0;
    -ms-border-radius: 2px 2px 0 0;
    position: relative;
    background-repeat: no-repeat;
    background-position: 0 0;
    width: 34px;
    height: 38px;
    top: 20px;
}
.mat_cart_counter {
    position: absolute;
    width: 34px;
    height: 38px;
    top: -6px;
    left: 2px;
    text-align: center;
    line-height: 24px;
    font-family: 'Raleway',sans-serif;
    font-weight: 600;
    font-size: 13px;
}
.mat_cart_box_dark .mat_popup_buttons{
    background: #000000;
}
.mat_cart_top_list {
    margin: 0;
    position: absolute;
    z-index: 10;
    display: none;
    top: 100%;
    z-index: 15;
    right: 0px;
    width: 252px;
}
.mat_cart_box_light{
	background: #fff;
}
.mat_cart_box_light .mat_prod-cat-empty{
    color: #333333;
}
.mat_cart_box_light .mat_control_cart_button {
    background: #f3f3f3;
}
.mat_cart_box_light .mat_prod-cat-name{
    color: #292929;
}
.mat_cart_box_light #jshop_summ_product {
    color: #a0a0a0;
}
.mat_cart_box_light .mat_prod-cat-quan, .mat_cart_box_light .mat_prod-cat-sum {
    color: #a0a0a0;
    font-size: 14px;
    float: left;
    margin-right: 10px;
}
.mat_cart_box_light .mat_cart_prod {
    border-bottom: 1px solid #e6e5e5 !important;
    padding-top: 12px;
}
.mat_cart_box_light .cart_close:hover {
    color: #000000;
}
.mat_prod-cat-name {
	text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 1px;
    font-size: 13px;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 80%;
    overflow: hidden;
    line-height: 1;
    margin-bottom: 8px;
}

.mat_cart_box_dark .mat_prod-cat-name{
    color: #fff;
}
.mat_cart_box_dark .mat_prod-cat-quan, .mat_cart_box_dark .mat_prod-cat-sum {
    color: #a0a0a0;
    font-size: 14px;
    float: left;
    margin-right: 10px;
}

.mat_cart_box_dark{
    background: #353535;
}
.mat_cart_info_box {
    overflow: auto;
    max-height: 300px;
    min-height: 100px;
}
.mat_cart_info_box::-webkit-scrollbar {
    width: 5px;
}
.mat_cart_info_box::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey;
}
.mat_cart_info_box::-webkit-scrollbar {
    width: 5px;
}
.mat_cart_info_box::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey;
}


.mat_popup_product{
    height: 150px;
    overflow: auto;
}
.mat_popup_load .mat_cart_prod {
    border-bottom: 1px solid #dedede;
}
.mat_popup_product .mat_prod-cat-quan{
    float: left;
    margin-right: 15px;
}
.mat_popup_buttons{
	display: table;
    padding: 20px;
    width: 100%;
}
.mat_cart_box_light .mat_popup_buttons{
	background: #efefef;
}
.mat_cart_box_light .mat_cart_close:hover{
    color: #000000;
}
.mat_popup_product::-webkit-scrollbar {
    width: 5px;
}
.mat_popup_product::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey;
}
.mat_popup_product::-webkit-scrollbar {
    width: 5px;
}
.mat_popup_product::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey;
}


.mat_control_cart_button {
    padding-bottom: 20px;
    background: #1d1d1d;
    padding-top: 20px;
}
.mat_go_to_cart {
    text-align: left;
    padding: 0;
}
.mat_total-price {
    text-align: right;
    line-height: 44px;
    color: #a0a0a0;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
    padding: 0;
    font-size: 13px;
}
.mat_go_to_cart a {
    padding: 0px 18px 0px 18px;
    height: 46px;
    line-height: 1;
    padding-top: 13px;
}
.btn-mat-light{
    border: 2px solid #ccc;
	color: #fff;
    -webkit-transition: color 400ms, background-color 400ms, border-color 400ms;
    -o-transition: color 400ms, background-color 400ms, border-color 400ms;
    transition: color 400ms, background-color 400ms, border-color 400ms;
}
.btn-mat-light:hover{
    border: 2px solid #25a787;
	color: #fff;
}
.btn-mat-dark{
    border: 2px solid #404040;
    color: #3a3a3a;
    -webkit-transition: color 400ms, background-color 400ms, border-color 400ms;
    -o-transition: color 400ms, background-color 400ms, border-color 400ms;
    transition: color 400ms, background-color 400ms, border-color 400ms;
}
.btn-mat-dark:hover{
    border: 2px solid #25a787;
    color: #3a3a3a;
}
#jshop_summ_product {
    color: #fff;
}
.mat_cart_close {
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 23px;
    z-index: 9999;
    cursor: pointer;
}
.mat_cart_close {
    color: #a0a0a0;
}
.mat_prod-cat-empty {
    color: #fff;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 1px;
    font-size: 13px;
    padding-left: 15px;
    padding-top: 13px;
}
.mat_no_click {
    pointer-events: none;
    cursor: default;
}
.mat_cart_image_block{
    padding-left: 0;
}
.mat_popup_load{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.78);
    z-index: 9999;
}
.mat_infinity_loader{
    background: url(../images/infinity.gif) no-repeat center center fixed;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 40%;
    margin-left: -20%;
    margin-top: -25px;
    height: 100px;
}
.mat_prod-cloase-button{
    position: absolute;
    right: 10px;
    top: 19px;
    font-size: 24px;
    color: #fff;
	cursor: pointer;
}
.mat_prod-cloase-button:hover{
    color: #24a97f;
}
.mat_popup_title h2{
    margin: 0;
    font-size: 25px;
    font-weight: 300;
}
.mat_popup_title{
    font-size: 12px;
    padding: 20px;
    background: #000;
    color: #fff;
}
.mat_popup_load_box{
    display: none;
    max-height: 300px;
    min-height: 100px;
    background: #fff;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 350px;
    height: auto;
}
@media only screen and (max-width: 800px) and (min-width: 320px){
	.mat_cart_top_list{
		width: 100%;
	}
	.mat_cart_close {
		position: absolute;
		right: 15px;
		top: 10px;
		font-size: 23px;
		z-index: 9999;
		cursor: pointer;
	}
	.mat_cart_image_block{
		padding: 0;
		margin-bottom: 5px;
	}
	.mat_cart_prod {
		padding-top: 15px;
		padding-bottom: 5px;
	}
	.mat_prod-cat-name{
		margin-top: 10px;
	    margin-bottom: 0;
	}
}