<?xml version="1.0" encoding="utf-8"?>       		  	        		          	
<form>
	<fields>
		<fieldset name="general">  
			<field
				name="params[enable]"
				type="radio"
				class="radio btn-group"
				default="1"
				label="PLG_JSHOPPINGPRODUCTS_QUICKORDER_ENABLE"
				description="PLG_JSHOPPINGPRODUCTS_QUICKORDER_ENABLE">
				<option
					value="1">JYES</option>
				<option
					value="0">JNO</option>
			</field>
			<field
				name="params[show_f_name]"
				type="list"
				class="inputbox"
				default="0"
				label="PLG_JSHOPPINGPRODUCTS_QUICKORDER_SHOW_F_NAME"
				description="PLG_JSHOPPINGPRODUCTS_QUICKORDER_SHOW_F_NAME">
				<option
					value="0">JNO</option>
				<option
					value="1">JOPTION_REQUIRED</option>
				<option
					value="2">JOPTION_OPTIONAL</option>
			</field>
			<field
				name="params[show_l_name]"
				type="list"
				class="inputbox"
				default="0"
				label="PLG_JSHOPPINGPRODUCTS_QUICKORDER_SHOW_L_NAME"
				description="PLG_JSHOPPINGPRODUCTS_QUICKORDER_SHOW_L_NAME">
				<option
					value="0">JNO</option>
				<option
					value="1">JOPTION_REQUIRED</option>
				<option
					value="2">JOPTION_OPTIONAL</option>
			</field>
			<field
				name="params[show_email]"
				type="list"
				class="inputbox"
				default="0"
				label="PLG_JSHOPPINGPRODUCTS_QUICKORDER_SHOW_EMAIL"
				description="PLG_JSHOPPINGPRODUCTS_QUICKORDER_SHOW_EMAIL">
				<option
					value="0">JNO</option>
				<option
					value="1">JOPTION_REQUIRED</option>
				<option
					value="2">JOPTION_OPTIONAL</option>
			</field>
			<field
				name="params[show_comment]"
				type="list"
				class="inputbox"
				default="0"
				label="PLG_JSHOPPINGPRODUCTS_QUICKORDER_SHOW_COMMENT"
				description="PLG_JSHOPPINGPRODUCTS_QUICKORDER_SHOW_COMMENT">
				<option
					value="0">JNO</option>
				<option
					value="1">JOPTION_REQUIRED</option>
				<option
					value="2">JOPTION_OPTIONAL</option>
			</field>
			<field
				name="params[show_phone]"
				type="list"
				class="inputbox"
				default="0"
				label="PLG_JSHOPPINGPRODUCTS_QUICKORDER_SHOW_PHONE"
				description="PLG_JSHOPPINGPRODUCTS_QUICKORDER_SHOW_PHONE">
				<option
					value="0">JNO</option>
				<option
					value="1">JOPTION_REQUIRED</option>
				<option
					value="2">JOPTION_OPTIONAL</option>
			</field>
			<field
				name="params[which_phone]"
				type="radio"
				class="radio btn-group"
				default="0"
				label="PLG_JSHOPPINGPRODUCTS_QUICKORDER_WHICH_PHONE"
				description="PLG_JSHOPPINGPRODUCTS_QUICKORDER_WHICH_PHONE">
				<option
					value="phone">PLG_JSHOPPINGPRODUCTS_QUICKORDER_WHICH_PHONE_1</option>
				<option
					value="mobil_phone">PLG_JSHOPPINGPRODUCTS_QUICKORDER_WHICH_PHONE_2</option>
			</field>
			<field
				name="params[redirect_finish]"
				type="radio"
				class="radio btn-group"
				default="0"
				label="PLG_JSHOPPINGPRODUCTS_QUICKORDER_REDIRECT_FINISH"
				description="PLG_JSHOPPINGPRODUCTS_QUICKORDER_REDIRECT_FINISH_DESC">
				<option
					value="1">JYES</option>
				<option
					value="0">JNO</option>
			</field>
			<field
				name="params[show_in_list]"
				type="radio"
				class="radio btn-group"
				default="0"
				label="PLG_JSHOPPINGPRODUCTS_QUICKORDER_SHOW_IN_LIST"
				description="PLG_JSHOPPINGPRODUCTS_QUICKORDER_SHOW_IN_LIST_DESC">
				<option
					value="1">JYES</option>
				<option
					value="0">JNO</option>
			</field>
			<field
				name="params[attr_require]"
				type="radio"
				class="radio btn-group"
				default="0"
				label="PLG_JSHOPPINGPRODUCTS_QUICKORDER_ATTR_REQUIRE"
				description="PLG_JSHOPPINGPRODUCTS_QUICKORDER_ATTR_REQUIRE_DESC">
				<option
					value="1">JYES</option>
				<option
					value="0">JNO</option>
			</field>
			<field
				name="params[check_summ]"
				type="radio"
				class="radio btn-group"
				default="0"
				label="PLG_JSHOPPINGPRODUCTS_QUICKORDER_CHECK_SUMM"
				description="PLG_JSHOPPINGPRODUCTS_QUICKORDER_CHECK_SUMM_DESC">
				<option
					value="1">JYES</option>
				<option
					value="0">JNO</option>
			</field>
			<field
				name="params[insert_var]"
				type="text"
				class="inputbox"
				default=""
				label="PLG_JSHOPPINGPRODUCTS_QUICKORDER_INSERT_VAR"
				description="PLG_JSHOPPINGPRODUCTS_QUICKORDER_INSERT_VAR_DESC"
			/>
			<field
				name="params[insert_var_list]"
				type="text"
				class="inputbox"
				default=""
				label="PLG_JSHOPPINGPRODUCTS_QUICKORDER_INSERT_VAR_LIST"
				description="PLG_JSHOPPINGPRODUCTS_QUICKORDER_INSERT_VAR_LIST_DESC"
			/>
			<field
				name="params[load_assets]"
				type="radio"
				class="radio btn-group"
				default="1"
				label="PLG_JSHOPPINGPRODUCTS_QUICKORDER_LOAD_ASSETS"
				description="PLG_JSHOPPINGPRODUCTS_QUICKORDER_LOAD_ASSETS_DESC">
				<option
					value="1">JYES</option>
				<option
					value="0">JNO</option>
			</field>
		</fieldset>
	</fields>
</form>       	         			        	          	